/* reset margin padding */
*{
    margin: 0;
    padding: 0;
}
.clear-left{
    clear: left;
}
html{
    scroll-behavior: smooth;
}

/* contoh gambar saja */
.hero-image{
    height: 700px;
    background-image: url(../img/resto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* contoh ubah font */
body{
    font-family: 'MuseoModerno', cursive;
}

/* css navigation */
.navbar{
    background-color: rgba(207, 176, 157, .7);
    position: fixed;
    width: 100%;
    height: 60px;
}
.navbar-logo{
    position: absolute;
    top: 10px;
    left: 50px;
}
.navbar-logo img{
    filter: drop-shadow(3px 3px 3px black);
}
.navbar .navbar-list{
    float: right;
}
.navbar .navbar-list li {
    display: inline-block;
    margin-top: 14px;
    letter-spacing: 1px;
}
.navbar .navbar-list li a{
    text-decoration: none;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-right: 20px;
}
.navbar .navbar-list li a:hover{
    border-bottom: 3px solid black;
    text-shadow: 2px 2px 2px black;
}
.navbar-text{
    position: absolute;
    top: 15px;
    left: 5%;
    display: none;
}
.navbar-text h3{
    color: white;
    text-shadow: 2px 2px 2px black;
}
.navbar-icon{
    position: absolute;
    top: 15px;
    right: 5%;
    display: none;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
}
.navbar-icon span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 1px black;
}
/* akhir css */

/* breakpoint tab */
@media screen and (max-width: 768px) {
    .navbar-logo img{
        width: 90px;
    }
    .navbar .navbar-list{
        font-size: 15px;
    }
}
/* akhir breaKpoint tab */

/* breakpoint hp */
@media screen and (max-width: 576px) {
    .navbar-list ul {
        display: none;
    }
    .navbar-logo {
        position: static;
        text-align: center;
        margin-top: 25px;
    }
    .navbar-logo img{
        width: 90px;
    }
    .navbar-text{
        display: block;
    }
    .navbar-icon{
        display: flex;
    }
}
/* akhir breakpoint hp */
